.button {
	background-color: rebeccapurple;
	border: radius;
	border-radius: 3%;
	color: rgb(255, 60, 0);
	text-align: center;
	text-decoration: none;
	padding: 15px 36px;
	height: 50px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}



table {
	margin-top: 20px;
	margin-left: 30%;
	width: 50%;
  }

.mat-column-product-price{
	font-style: italic;
	font-size: 20px;
}

.mat-row .mat-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
  }
.mat-row:hover .mat-cell {
	font-weight: bold;
	border-color: rgb(36, 185, 16);
  }