<button class="button" (click)="addProduct()" [disabled]="isAdmin==='false'">Add A New Product</button>

<button (click)="handleClick()" class="button">
    Show More Products
</button>

<div *ngIf="show">
   
    <table mat-table [dataSource]="allProducts$" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="product-name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="product-price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let product"> {{product.price}} </td>
        </ng-container>
      
        <!-- Details Column -->
        <ng-container matColumnDef="product-details">
          <th mat-header-cell *matHeaderCellDef> Product Details </th>
          <td mat-cell *matCellDef="let product"> <button mat-flat-button color="primary"  (click)="redirect(product.id)">Details</button> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  (click)="redirect(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>
